.container .main-title{
    color: rgb(39, 2, 7);
    padding: 2rem;
    text-transform: uppercase;
  }
  
  @media (max-width: 900px) {
    .container .main-title {
      left: 0;
    }
  }
  
  .wrapper{
    border: 4px;
    width: 1000px;
    background: transparent;
    margin-bottom: 5rem;
  }

  @media (max-width: 900px) {
    .wrapper {
      width:90vw;
  }
}
  
  
  .box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    padding: 1rem;
  }
  @media (max-width: 900px) {
    .box {
      display: flex;
      flex-direction: column;
    }
  }
  
  .button1{
    width: 20%;
    margin-left: 5rem;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(168, 185, 185);
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
  }
  
  button:hover{
    background-color: rgb(167, 155, 179);
    color: white;
  
  }