.form-input{
    display: flex;
    flex-direction: column;
}
input, select, option{
    padding: 1rem;
    margin: 0.5rem;
    width: 30vw;
    

}
label{
    font-size: 15px;
    font-weight: 100;
    color: beige;
}

span{
    color: red;
    font-size: 15px;
    display: none;
}



input:invalid ~ span{
    display: block;
}