.form-input{
    display: flex;
    flex-direction: column;

}
input, select, option{
    padding: 1rem;
    margin: 0.3rem;
    width: 30vw;
    background: transparent;
    border-radius: 10px;
}

@media (max-width: 900px) {
    input, select, option {
      width: 80vw;
    }
  }
label{
    font-size: 15px;
    font-weight: bold;
    color: rgb(10, 2, 2);
    padding-left: 5px;
}

span{
    color: rgb(158, 17, 17);
    font-size: 15px;
    display: none;
}



input:invalid[focused="true"] ~ span{
    display: block;
    border: red;
}