.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
    border-radius: 10px;
    margin:3rem 0 10rem 0;
    font-size: 15px;
    width: 80vw;
}

thead tr{
  background-color: rgb(114, 67, 201);
  color: rgb(252, 248, 248);
  text-align: center;
  font-weight: bold;
}

th{
    padding: 10px;
    text-transform: uppercase;
}

tbody tr{
    text-align: center;
}
td{
    padding: 10px;
    font-size: 15px;
    color: black;
}
.icon{
    color: rgb(121, 27, 27);
    cursor: pointer;
}

.icon:hover{
    color: white;
}


.container h3{
    line-height: 2rem;
    margin: 5rem;
    
}

.button2{
    width: 20vw;
    margin-bottom: 4rem;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(168, 185, 185);
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 15px;
}