*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    rgba(116, 176, 204, 0.7),
    rgba(99, 23, 170, 0.3)
  );
}
::-webkit-scrollbar{
  width: 0;
}

